<!DOCTYPE html>
<html lang="">

<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="/stylesheets/analytics.css">
</head>

<body>
    <h1>Analytics</h1>

    <div id="button1" class="collapse">
        <button type="button">Compute most frequently sold product</button>
        <p>Query results...</p>
    </div>
    <div id="button2" class="collapse">
        <button type="button">Compute product sold to highest number of distinct customers</button>
        <p>Query results...</p>
    </div>

    <div id="button3" class="collapse">
        <button type="button">Compute 10 highest paying customers</button>
        <p>Query results...</p>
    </div>

    <div id="button4" class="collapse">
        <button type="button">Compute zip codes with most transactions</button>
        <p>Query results...</p>
    </div>

    <div id="button" class="collapse">
        <button type="button">Compute average price per product type (desktop, laptop and printer)</button>
        <p>Query results...</p>
    </div>

    <div id="home">
        <input type="submit" value="Home">
        <a href="categories"></a>
    </div>

</body>

</html>
