<!DOCTYPE html>
<html lang="">

<head>
    <title>Newark IT</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
    <img src="/images/logo.png" alt="Newark IT Logo"> 
    <h1>Login</h1>
    <form id="login_form">
        <div class = "ep">
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" placeholder="johndoe@gmail.com" required>
            <br>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" pattern=".{5,10}" required>
        </div>
        <div>
            <input type="submit" value="Sign In">
            <a href="register.html">Register</a> 
        </div>
    </form>
    <script type="text/javascript" src="/javascripts/login.js"></script>
</body>

</html>
