#cart {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
}

.item-name {
    float: left;
    width: 75%;
}

.item-cost {
    float: right;
    width: 25%;
    text-align: right;
}